import pandas as pd

In [98]:
df = pd.read_csv("spotify_millsongdata.csv")

In [99]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [100]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [101]:
df = df.sample(100).drop('link', axis=1).reset_index(drop=True)

In [140]:
df.head(5)

,artist,song,text
0,Deep Purple,Hold On,you're sweeter than the morning \r when the s...
1,Neil Sedaka,Darei 10 Anni,darei dieci anni della vita mia \r per rivede...
2,Kenny Rogers,"Life Is Good, Love Is Better","life is a hustle, every day struggle \r pushi..."
3,Whitney Houston,Jesus Loves Me,yes jesus loves me for the bible tells me so ...
4,Reo Speedwagon,Give Me A Ride,give me a ride on your roller coaster \r give...

Text Cleaning

In [103]:
df['text']=df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex =True)

import nltk
from nltk.stem.porter import PorterStemmer

In [104]:
stemmer = PorterStemmer()

In [105]:
pip install nltk

SyntaxError: invalid syntax (1134587942.py, line 1)

In [106]:
import nltk
from nltk.stem.porter import PorterStemmer

In [107]:
stemmer = PorterStemmer()

In [108]:
def token(txt)
    token = nltk.word_tokenize(txt)
    a =[stemmer.stem(w) for w in token]
    return " ".join(a)

SyntaxError: expected ':' (522149543.py, line 1)

In [109]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Kishanth\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [110]:
import nltk
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Kishanth\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\Kishanth\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [111]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a =[stemmer.stem(w) for w in token]
    return " ".join(a)

In [112]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [113]:
df['text'].apply(lambda x: token(x))

0     you 're sweeter than the morn when the sun is ...
1     darei dieci anni della vita mia per rivederti ...
2     life is a hustl , everi day struggl push your ...
3     ye jesu love me for the bibl tell me so jesu l...
4     give me a ride on your roller coaster give me ...
                            ...
95    ich oeffn da fenster seh , wie roter staub sic...
96    i wa down in georgia noth wa as real as the st...
97    you know your favorit old pair of shoesth one ...
98    it 's earli morn the sun come out last night w...
99    there is no time to discuss or debat what is r...
Name: text, Length: 100, dtype: object

In [114]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\kishanth\appdata\local\programs\python\python313\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\kishanth\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\kishanth\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\kishanth\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\kishanth\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [115]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [116]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [117]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english', max_features=1000)
matrix = tfid.fit_transform(df['text'])

In [118]:
pip install faiss-cpu

Requirement already satisfied: faiss-cpu in c:\users\kishanth\appdata\local\programs\python\python313\lib\site-packages (1.10.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<3.0,>=1.25.0 in c:\users\kishanth\appdata\local\programs\python\python313\lib\site-packages (from faiss-cpu) (2.2.2)
Requirement already satisfied: packaging in c:\users\kishanth\appdata\local\programs\python\python313\lib\site-packages (from faiss-cpu) (24.2)

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [119]:
pip install faiss-gpu

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement faiss-gpu (from versions: none)

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for faiss-gpu

In [120]:
df['text'].apply(lambda x: token(x))

0     you 're sweeter than the morn when the sun is ...
1     darei dieci anni della vita mia per rivederti ...
2     life is a hustl , everi day struggl push your ...
3     ye jesu love me for the bibl tell me so jesu l...
4     give me a ride on your roller coaster give me ...
                            ...
95    ich oeffn da fenster seh , wie roter staub sic...
96    i wa down in georgia noth wa as real as the st...
97    you know your favorit old pair of shoesth one ...
98    it 's earli morn the sun come out last night w...
99    there is no time to discuss or debat what is r...
Name: text, Length: 100, dtype: object

In [121]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [122]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [123]:
matrix=tfid.fit_transform(df['text'])

In [124]:
matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 5523 stored elements and shape (100, 2538)>

In [125]:
similar=cosine_similarity(matrix)

In [126]:
similar[0]

array([1.        , 0.        , 0.08513857, 0.01379319, 0.07501384,
       0.03367544, 0.02644108, 0.02273825, 0.08167955, 0.05820021,
       0.06286039, 0.0192711 , 0.0061997 , 0.04775109, 0.03567731,
       0.03346368, 0.0711211 , 0.03470765, 0.02944399, 0.1098532 ,
       0.03071414, 0.04653981, 0.06515365, 0.07725756, 0.04034841,
       0.01470069, 0.07568233, 0.04889683, 0.1974241 , 0.12324727,
       0.10435045, 0.020476  , 0.01067632, 0.02802204, 0.06876865,
       0.08162772, 0.08382184, 0.02407206, 0.12675863, 0.05717229,
       0.01890023, 0.02907512, 0.08071823, 0.09778887, 0.03756533,
       0.04278655, 0.16484838, 0.01258116, 0.02325047, 0.04758007,
       0.0143697 , 0.0946297 , 0.05387326, 0.02445098, 0.0197172 ,
       0.        , 0.08724013, 0.04299399, 0.00654553, 0.00536352,
       0.05531172, 0.0497682 , 0.06131633, 0.00506494, 0.17256744,
       0.09545847, 0.00768747, 0.04495792, 0.04257339, 0.03233774,
       0.03291578, 0.01901155, 0.01563258, 0.03237044, 0.04166715,
       0.02840904, 0.05734638, 0.02792092, 0.01349099, 0.02721245,
       0.063825  , 0.06431796, 0.01106302, 0.04418156, 0.04214692,
       0.01329631, 0.08723846, 0.04924678, 0.05931751, 0.01020586,
       0.09180743, 0.02419285, 0.00741924, 0.02836867, 0.10001043,
       0.        , 0.00727943, 0.14796221, 0.04598653, 0.00437552])

In [128]:
 df[df['song'] == 'Darei 10 Anni'].index[0]

np.int64(1)

In [129]:
print(df['song'].unique())

['Hold On' 'Darei 10 Anni' 'Life Is Good, Love Is Better' 'Jesus Loves Me'
 'Give Me A Ride' 'Parallel Universe' 'Heidi Is A Headcase'
 'Carolina In My Mind' 'Butterflies' 'Drive My Car' "I'm Already There"
 'Burning Feet' 'Lucy In The Subway' 'Camouflage' 'Child Of Midnight'
 'Not To Touch The Earth' 'Kiss That Frog' 'Away In A Manger' 'Grow Up'
 'Ann' 'Funky Beat' 'Perfect Strangers' "I Can't Get Nowhere With You"
 'A Goodbye Joke' 'Gettin Paid' 'Red Rover' 'How About You' 'No Contract'
 'Human' "Can't Stop Thinking About Love" 'Getting High On The Down Low'
 'Pittsburgh, Pennsylvania' 'Better Off Without You' 'Riding Alone'
 'All Of Me' 'December' 'Boogie On Reggae Woman - Phish' 'Scent Of A Mule'
 'Sail The Rivers' 'Not Coming Home' 'Falling Off The Face Of The Earth'
 'Perform This Way' "Small Y'all" "It's You" 'I Miss A Lot Of Trains'
 'Busy Signal' 'Love Is War' 'Lost Stars' 'Born In Puerto Rico'
 'The Perfect Fan' "It's The Hard-Knock Life" 'Everybody I Love You'
 'Ooh I Like Your Loving' 'Andy' 'Caravan' 'Effigy' 'Somebody Needs You'
 'Back To School Again' 'Holiness Is Right' 'Praise You' 'Stay With Me'
 'Honey Bee' 'First Day Of Spring' 'Breaking The Law' 'One Of These Days'
 'Strong' 'Angry Hills' "Smokin' Room" 'Old Pictures'
 "The Kids Aren't Alright" 'Graffiti' 'Heart Like Heaven'
 'Sight For Sore Eyes' 'Children In Heat' 'Die Die My Darling'
 'Fake Plastic Trees' "Let's Submerge" 'A New Argentina'
 'Out Of The Cradle' 'The Sun And The Moon And The Stars' 'Let It Pour'
 'Nasty Naughty Boy' 'Better Than Anything'
 "Don't Let The Stars Get In Your Eyes" 'Here Comes The Sun'
 'Spanish Harlem' 'Who Do You Love' 'Birthday' 'One' 'Carol Of The Bells'
 "Everybody's Rockin'" "Can't Take The Hurt Anymore"
 "It Don't Mean A Thing" 'Heaven Sent' 'Life Goes On'
 'Der Rhythmus Der Hitze' 'Summer Cannibals' 'Jailbreak' 'Hurricane 2000'
 'Orphans Of Wealth']

recommender function

In [135]:
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse=True, key = lambda x:x[1])
    song=[]
    for s_id in distance[1:50]:
        song.append(df.iloc[s_id[0]].song)
        return song

In [136]:
recommender("Jailbreak")

['Butterflies']

In [132]:
df.tail(4)

,artist,song,text
96,Patti Smith,Summer Cannibals,i was down in georgia \r nothing was as real ...
97,Bon Jovi,Jailbreak,you know your favorite old pair of shoesthe on...
98,Scorpions,Hurricane 2000,it's early morning \r the sun comes out \r l...
99,Don McLean,Orphans Of Wealth,there is no time to discuss or debate \r what...

In [137]:
import pickle

In [138]:
pickle.dump(similar, open("similarity", "wb"))

In [139]:
pickle.dump(df, open("df", "wb"))

In [141]:
import pandas as pd
import pickle

# Create a simple DataFrame (replace this with your actual data)
df = pd.DataFrame({
    'song': ['Song 1', 'Song 2', 'Song 3'],
    'artist': ['Artist A', 'Artist B', 'Artist C'],
    'duration': [200, 180, 210]
})

# Save DataFrame to pickle file
with open('df.pkl', 'wb') as f:
    pickle.dump(df, f)

print("df.pkl file created successfully!")

df.pkl file created successfully!

In [142]:
with open('df.pkl', 'rb') as f:
    df = pickle.load(f)

In [143]:
import pickle
import numpy as np

# Example data - this would be your similarity data
similarity_matrix = np.array([[1, 0.8, 0.6], [0.8, 1, 0.7], [0.6, 0.7, 1]])

# Save the similarity matrix to a pickle file
with open('similarity.pkl', 'wb') as f:
    pickle.dump(similarity_matrix, f)

print("similarity.pkl file created successfully!")

similarity.pkl file created successfully!

In [144]:
with open('similarity.pkl', 'rb') as f:
    similarity = pickle.load(f)